<!-- ========================= FOOTER ========================= -->
<footer class="container py-5 footer">
    <hr />
    <div class="row pt-4">
      <div class="col-12 col-md">
        <h5 class="py-3">ZAMLA</h5>
      </div>
      <div class="col-6 col-md fs15">
        <h5>Features</h5>
        <ul class="list-unstyled">
          <li><a class="link-secondary text-decoration-none" href="#">Team</a></li>
        </ul>
      </div>
      <div class="col-6 col-md fs15">
        <h5>Resources</h5>
        <ul class="list-unstyled">
          <li><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
          <li><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
          <li><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md fs15">
        <h5>Let Us Help You</h5>
        <ul class="list-unstyled">
          <li><a class="link-secondary text-decoration-none" href="#">Help Center</a></li>
          <li><a class="link-secondary text-decoration-none" href="#">Shipping and delivery</a></li>
          <li><a class="link-secondary text-decoration-none" href="#">Return Policy</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled">
          <li><a class="link-secondary text-decoration-none" href="#">About us</a></li>
          <li><a class="link-secondary text-decoration-none" href="#">Terms and Conditions</a></li>
          <li><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
        </ul>
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-12 col-md text-center">
        <small class="d-block mb-3 text-muted">&copy; 2021. Soko Website</small>
      </div>
    </div>
  </footer>

</body>
</html>
