{% extends 'base.html' %}
{% load static %}

{% block content %}



<!-- ========================= SECTION MAIN ========================= -->

<div class="container ">
		<div class="row">
        	<div class="col-lg-3 flex-column-reverse  mt-2">
				<p>
					<button class="btn btn-success  w-100 d-flex align-items-center justify-content-between" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample"> <span><strong>Categories   </strong>   </span><span class="fas fa-chevron-down float-right"> </span> </button>
				</p>
				<div class="collapse show border list-group" id="collapseExample">
					<div class="card-body">
						<ul class="list-menu">
							{% for category in links %}
								<li><a href="{{ category.get_url }}">{{ category.category_name }}  </a></li>
							{% endfor %}
							<hr style="margin:5px 0" />
							<li><a href="{% url 'store' %}">All Products  </a></li>
						</ul>
					</div>
				</div>
        	</div>
			<div class="col-lg-9">
					<div class="row mt-2">
						<div class=" d-lg-flex flex-lg-row d-flex flex-column-reverse bg-light ">
							<div class="p-5" id="2">
								<p class="p-green">FRESH FRUIT</p>
								<P class="fs-4 fw-bold"><strong>Vegetable</strong></P>
								<p class="text-muted mb-4">Free Pickup and Delivery Available</p>
								<div  ><a class="btn btn-success px-4"href="{% url 'store' %}"><strong>SHOP NOW</strong></a></div>
							</div>
							<div id="1"> <img src="https://www.freepnglogos.com/uploads/vegetables-png/vegetables-about-our-philosophy-super-healthy-kids-23.png" class="w-75 h-75" alt=""> </div>
						</div>
					</div>
				</div>
			</div>
    	</div>
	

	<section class="album py-4 px-0 bg-body">
			<div class="container">
				<header>
					<h3 class="h5 text-uppercase mb-4">Featured products</h3>
				</header>
				<div class="album py-1 ">             
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-2">
						{% for product in products %}
							<!-- PRODUCT-->
							<div class="col-lg-2 col-6">
								<div class="card shadox">
									<a class="d-block" href="{{ product.get_url }}" > <img class="img-fluid w-100" src="{{ product.images.url }}" alt=""> </a>
									<div class="card-body">
										<h6><a class="reset-anchor" href="{{ product.get_url }}">{{ product.product_name }}</a></h6>
											<h5 class="">${{product.price}}</h5>
											<hr style="margin:5px 0px" />
											
									</div>
								</div>
							</div> <!-- col.// -->
						{% endfor %}
					</div>
				</div>		
			</div>
		</div>	
	</section>
<!-- ========================= SECTION  END// ========================= -->
</div> 
</body>
</html>

{% endblock %}
